apiVersion: v1
kind: Service
metadata:
  name: admin-portal
  labels:
    app: admin-portal
spec:
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: admin-portal
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-portal
  labels:
    app: admin-portal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-portal
  template:
    metadata:
      labels:
        app: admin-portal
    spec:
      containers:
        - name: admin-portal
          image: admin-portal:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
